doctype html
html
  head
    title Autocomplete Demo
    link(rel="stylesheet" href="/styles/style.css")
  body
    h1 Autocomplete Demo
    input#searchInput(type='text', name='searchInput')
    button#searchButton Search
    ul#autocompleteList
    div#infop
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='/javascript/index.js')